.choosecoworking{
    width: 377px; /* Добавлены единицы измерения px */
    border-radius: 35px;
    border: 3px solid rgba(20, 100, 246, 1.0); /* Исправлен порядок свойств в border */
    display: flex;
    flex-wrap: wrap;
    .img{
        width: 100%;
        height: 310px;
        border-radius: 30px 30px 0 150px;
        background-color: #1464F6;
    }
    .description{
        padding: 0 24px;
        height: 160px;
        width: 100%;
        margin-bottom: 38px;
    }
    .infowhere{
        color: #fff;
        display: flex;
        justify-content: center;
        &::after{
            content: '';
            position: relative;
            margin: 12px 0 0 128px;
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='36' viewBox='0 0 25 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.0241 15.1694C21.4773 15.1694 20.9688 15.3369 20.5474 15.6225C20.1873 14.5943 19.2171 13.8503 18.0669 13.8503C17.5201 13.8503 17.0116 14.0178 16.5902 14.3034C16.2301 13.2752 15.2599 12.5313 14.1097 12.5313C13.6269 12.5313 13.1804 12.6711 12.7906 12.898V6.59545C12.7906 5.89173 12.5162 5.22956 12.017 4.73095C11.3917 4.10571 10.4954 3.83531 9.62023 4.01074C8.39943 4.25411 7.51434 5.38191 7.51434 6.6924V21.9883L5.71051 19.9259C4.54775 18.5976 2.55926 18.4215 1.1815 19.5236L0.723121 19.891C-0.0353427 20.4971 -0.22397 21.5774 0.28519 22.4051L4.96524 30.0095C6.96033 33.4675 10.4651 35.6156 14.1103 35.6156C19.9287 35.6156 24.6629 30.8814 24.6629 25.063V17.8082C24.6629 16.3532 23.4797 15.17 22.0247 15.17L22.0241 15.1694ZM14.1097 34.2959C10.9347 34.2959 7.86785 32.4004 6.09766 29.3335L1.40838 21.7133C1.24811 21.4521 1.30747 21.1118 1.54688 20.9205L2.00591 20.5532C2.83033 19.8936 4.02277 19.9985 4.71726 20.7945L7.67724 24.178C7.85861 24.385 8.15144 24.4569 8.40536 24.3606C8.66324 24.2644 8.83274 24.0177 8.83274 23.7433V6.69174C8.83274 6.01902 9.28189 5.42214 9.87744 5.30409C10.3279 5.21373 10.7658 5.34498 11.0837 5.66353C11.3337 5.91284 11.4709 6.24392 11.4709 6.59545V19.7861C11.4709 20.1502 11.7657 20.4457 12.1304 20.4457C12.4951 20.4457 12.7899 20.1502 12.7899 19.7861V15.1694C12.7899 14.4419 13.3815 13.8503 14.109 13.8503C14.8365 13.8503 15.4281 14.4419 15.4281 15.1694V19.7861C15.4281 20.1502 15.7229 20.4457 16.0876 20.4457C16.4523 20.4457 16.7471 20.1502 16.7471 19.7861V16.4885C16.7471 15.761 17.3387 15.1694 18.0662 15.1694C18.7937 15.1694 19.3853 15.761 19.3853 16.4885V19.7861C19.3853 20.1502 19.6801 20.4457 20.0448 20.4457C20.4095 20.4457 20.7043 20.1502 20.7043 19.7861V17.8075C20.7043 17.0801 21.2959 16.4885 22.0234 16.4885C22.7509 16.4885 23.3425 17.0801 23.3425 17.8075V25.0624C23.3425 30.154 19.2013 34.2959 14.1097 34.2959Z' fill='%231464F6'/%3E%3Cpath d='M10.1525 3.29767C10.5172 3.29767 10.812 3.0022 10.812 2.63813V0.659533C10.812 0.295471 10.5172 0 10.1525 0C9.78773 0 9.49292 0.295471 9.49292 0.659533V2.63813C9.49292 3.0022 9.78773 3.29767 10.1525 3.29767Z' fill='%231464F6'/%3E%3Cpath d='M14.1096 5.9359C14.1096 6.29996 14.4044 6.59543 14.7692 6.59543H16.7478C17.1125 6.59543 17.4073 6.29996 17.4073 5.9359C17.4073 5.57184 17.1125 5.27637 16.7478 5.27637H14.7692C14.4044 5.27637 14.1096 5.57184 14.1096 5.9359Z' fill='%231464F6'/%3E%3Cpath d='M3.55699 6.59543H5.53559C5.90032 6.59543 6.19513 6.29996 6.19513 5.9359C6.19513 5.57184 5.90032 5.27637 5.53559 5.27637H3.55699C3.19227 5.27637 2.89746 5.57184 2.89746 5.9359C2.89746 6.29996 3.19227 6.59543 3.55699 6.59543Z' fill='%231464F6'/%3E%3Cpath d='M6.38845 3.7639C6.51706 3.89251 6.6859 3.95715 6.85474 3.95715C7.02358 3.95715 7.19242 3.89251 7.32103 3.7639C7.57891 3.50603 7.57891 3.0892 7.32103 2.83132L6.00197 1.51226C5.74409 1.25438 5.32726 1.25438 5.06938 1.51226C4.81151 1.77013 4.81151 2.18696 5.06938 2.44484L6.38845 3.7639Z' fill='%231464F6'/%3E%3Cpath d='M13.45 3.95715C13.6188 3.95715 13.7877 3.89251 13.9163 3.7639L15.2353 2.44484C15.4932 2.18696 15.4932 1.77013 15.2353 1.51226C14.9775 1.25438 14.5606 1.25438 14.3028 1.51226L12.9837 2.83132C12.7258 3.0892 12.7258 3.50603 12.9837 3.7639C13.1123 3.89251 13.2811 3.95715 13.45 3.95715Z' fill='%231464F6'/%3E%3C/svg%3E");
            width: 25px;
            height: 36px;
        }
        .corpus{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            width: 188px;
            height: 55px;
            background-color: #1464F6;
            border-radius: 0 35px 0 30px;
        }
        .auditories{
            position: absolute;
            border-radius: 0 35px 0 0;
            left: 128px;
            z-index: -1;
            background-color: #D757F6;
            height: 55px;
            width: 166px;
            .text{
                font-size: 24px;
                padding-left: 50px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
            }
        }
    }
}