.footer {
  margin-top: 90px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #1464f6;
  padding: 45px 0;
  .container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    cursor: pointer;
  }
  .headerHrefs {
    display: flex;
    gap: 17px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    .hrefs {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #d757f6;
      }
    }
  }
  .btn {
    display: flex;
    gap: 24px;
  }
  .headerButtons {
    .exit {
      border: #fff 1px solid;
      padding: 4px 26px 5px 27px;
      background-color: unset;
      font-weight: 500;
      &:hover {
        border: none;
        padding: 5px 27px 6px 28px;
        background-color: #d757f6;
        cursor: pointer;
      }
      border-radius: 20px;
      color: #fff;
    }
  }
}
// .fhrefs {
//   text-decoration: none;
//   font-size: 20px;
//   color: rgb(255, 255, 255);
//   font-style: bold;
//   font-weight: bold;
// }
// .fregisterButton {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-weight: bold;
//   font-size: 20px;
//   color: rgb(86, 84, 255);
//   height: 40px;
//   width: 206px;
//   border-radius: 13px;
//   border: none;
//   background-color: rgb(255, 255, 255);
//   cursor: pointer;
// }

// .headerButtons {
//   display: flex;
//   gap: 20px;
// }
// .headerhrefs {
//   display: flex;
//   gap: 30px;
// }
// .enterButton {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-weight: bold;
//   font-size: 20px;
//   color: white;
//   height: 40px;
//   width: 155px;
//   border-radius: 13px;
//   border: none;
//   background-color: rgb(183, 60, 240);
//   cursor: pointer;
// }
