.header {
  position: relative;
  z-index: 1;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 45px 0;
  gap: 24px;
  justify-content: space-between;

  .logo {
    cursor: pointer;
  }
  .headerHrefs {
    display: flex;
    gap: 17px;
    font-size: 18px;
    font-weight: 500;
    color: #4e4e4e;
    .hrefs {
      text-decoration: none;
      color: #4e4e4e;
      &:hover {
        color: #d757f6;
      }
    }
  }
  .btn {
    display: flex;
    gap: 24px;
  }
  .headerButtons {
    display: flex;
    gap: 24px;
    font-size: 15px;
    .infouser {
      display: flex;
      align-items: center;
      gap: 24px;
    }
    .exit {
      padding: 5px 27px;
      font-weight: 500;
      background-color: #d757f6;
      border: none;
      &:hover {
        background-color: unset;
        color: #4e4e4e;
        cursor: pointer;
        padding: 5px 27px;
      }
      &:last-child {
        background-color: #1464f6;
        &:hover {
          background-color: unset;
          color: #4e4e4e;
          cursor: pointer;
          padding: 5px 27px;
        }
      }
      border-radius: 20px;
      color: #fff;
    }
    .img {
      height: 79px;
      width: 79px;
      border-radius: 50%;
    }
  }
}
// .headerHrefs {
//   display: flex;
//   gap: 30px;
// }
// .hrefs {
//   text-decoration: none;
//   font-size: 20px;
//   color: black;
//   font-style: bold;
//   font-weight: bold;
// }
// .headerButtons {
//   display: flex;
//   gap: 24px;
// }
// .enterButton {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-weight: bold;
//   font-size: 20px;
//   color: white;
//   height: 40px;
//   width: 155px;
//   border-radius: 13px;
//   border: none;
//   background-color: rgb(183, 60, 240);
//   cursor: pointer;
// }
// .registerButton {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-weight: bold;
//   font-size: 20px;
//   color: white;
//   height: 40px;
//   width: 206px;
//   border-radius: 13px;
//   border: none;
//   background-color: rgb(86, 84, 255);
//   cursor: pointer;
// }

// .infouser {
//   display: flex;
//   gap: 19px;
//   font-size: 24px;
//   font-weight: 600;
//   color: #4e4e4e;
//   align-items: center;
//   .img {
//     width: 79px;
//     height: 79px;
//     border-radius: 50%;
//     background-size: cover;
//   }
//   .exit {
//     font-family: "Inter";
//     display: flex;
//     height: 50px;
//     width: 150px;
//     color: #fff;
//     border-radius: 20px;
//     background-color: rgb(183, 60, 240);
//     cursor: pointer;
//     justify-content: center;
//     align-items: center;
//   }
// }
