.datetime{
    color: #D757F6;
    .number{
        font-family: 'BowlerHac';
        font-size: 54px;
        letter-spacing: 0;
    }
    .name{
        font-weight: 600;
        font-size: 22px;
        margin-top: -15px;
    }
}

.firstButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    color: white;
    height: 30px;
    width: 103px;
    border-radius: 30px;
    border: none;
    background-color: rgba(20, 100, 246, 1);
    cursor: pointer;
  }
  .secondButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    color: white;
    height: 30px;
    width: 103px;
    border-radius: 13px;
    border: none;
    background-color: rgb(183, 60, 240);
    cursor: pointer;
  }